@import './public.scss';

$standard-padding-vertical: 2rem;
$standard-padding-horizontal: 2rem;

// 左右分侧面板
@mixin left-right-panel {
  // 上层结构代码的原因，此处只能这样锁定高度
  height: $view-height;
  width: 100%;
  display: grid;
  // 尺寸与 public.scss 保持一致
  grid-template-columns: $left-panel-width-normal 1px calc(100% - #{$left-panel-width-normal} - 1px);
  grid-template-rows: 100%;
  grid-template-areas: 'left divider right';

  @media screen and (max-width: $screen-max-width) {
    // 尺寸与 public.scss 保持一致
    grid-template-columns: $left-panel-width-small 1px calc(100% - #{$left-panel-width-small} - 1px);
  }
}

// 允许 TableBox 组件在自适应高度的页面中可以自适应拉伸
@mixin auto-stretch-table {
  .tab-contant {
    height: 100%;
    display: flex;
    flex-direction: column;

    :deep(.el-table) {
      flex: auto;
    }

    :deep(.tab-page) {
      flex: 0;
    }
  }
}
