// 自定义主题颜色
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #062c6e
    )
  ),
  $checkbox: (
    'bg-color': #d2d3d9,
    'checked-bg-color': var(--color),
    'input-border': var(--el-border-width) var(--el-border-style) #828387,
    'checked-input-border-color': var(--el-border-width) var(--el-border-style) #828387
  ),
  $tree: (
    'node-hover-bg-color': #c5c2cc
  ),
  $dialog: (
    'bg-color': #67656aea,
    'box-shadow': 1px 1px 10px 2px var(--color) inset,
    'border-radius': 10px
  ),
  $cascader: (
    'menu-text-color': #000,
    'color-empty': #d2d3d9,
    'menu-fill': #d2d3d9,
    'node-background-hover': #c3c3c7,
    'menu-border': var(--el-border-width) var(--el-border-style) #828387,
  ),
  $select-option: (
    'hover-background': #c3c3c7,
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
